In [3]:
print(list(range(1, 101)))
print("-----------------------")
print(list(range(0, 100, 2)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
-----------------------
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [5]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
x = int(input("請輸入起始的正整數:"))
y = int(input("請輸入終止的正整數:"))
for i in range(x, y+1):
    print(i)

請輸入起始的正整數:1
請輸入終止的正整數:78
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78

In [11]:
x = int(input("請輸入起始的正整數:"))
y = int(input("請輸入終止的正整數:"))
odds = []
for i in range(x, y+1):
  mod = i % 2
  if mod == 1:
      odds.append(i)
print(odds)
print("-----------------------")
print(len(odds)) # 計數
print("-----------------------")
print(sum(odds)) # 加總

請輸入起始的正整數:13
請輸入終止的正整數:59
[13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59]
-----------------------
24
-----------------------
864

In [12]:
x = int(input("請輸入一個正整數:"))
divisors = []
for i in range(1, x+1):
    if x % i == 0:
        divisors.append(i)
print(divisors)

請輸入一個正整數:59
[1, 59]

In [13]:
x = int(input("請輸入一個正整數:"))
divisors = []
for i in range(1, x+1):
    if x % i == 0:
        divisors.append(i)
print(divisors)
n_divisors = len(divisors)
if n_divisors == 2:
    print("{}是質數".format(x))
else:
    print("{}不是質數".format(x))

請輸入一個正整數:2
[1, 2]
2是質數

In [25]:
# random 產生 1 個隨機數
import random

print(random.randint(1, 1000))
print("-----------------------")

# random 產生 100 個隨機數
random_integers = []
for i in range(100):
    rand_int = random.randint(1, 1000)
    random_integers.append(rand_int)
print(random_integers)
print(len(random_integers))
print("-----------------------")

# 找出第一大與第一小的數字
print(max(random_integers))
print(min(random_integers))
print("-----------------------")

# 找出第二大與第二小的數字
print(len(set(random_integers))) # 先檢查有無重複
ran_int_unique = set(random_integers) # "set"不可取值
ran_int_unique_list = list(ran_int_unique) 
print(ran_int_unique_list)
ran_int_unique_list.sort()
print(ran_int_unique_list[1]) # 第二小
print(ran_int_unique_list[-2]) # 第二大

970
-----------------------
[489, 949, 836, 904, 196, 613, 250, 197, 288, 972, 650, 339, 680, 99, 337, 622, 395, 502, 488, 969, 827, 508, 200, 429, 316, 698, 600, 559, 174, 541, 527, 612, 190, 903, 291, 757, 656, 69, 420, 994, 703, 951, 595, 329, 299, 953, 35, 303, 750, 34, 298, 26, 447, 554, 266, 571, 427, 909, 269, 354, 484, 703, 118, 956, 678, 201, 938, 517, 557, 119, 236, 894, 17, 85, 327, 613, 873, 380, 943, 970, 573, 586, 681, 896, 330, 465, 187, 413, 833, 691, 516, 305, 424, 933, 832, 212, 740, 130, 492, 872]
100
-----------------------
994
17
-----------------------
98
[516, 517, 527, 17, 26, 541, 34, 35, 554, 557, 559, 571, 573, 69, 586, 595, 85, 600, 99, 612, 613, 622, 118, 119, 130, 650, 656, 678, 680, 681, 174, 691, 698, 187, 190, 703, 196, 197, 200, 201, 212, 740, 236, 750, 757, 250, 266, 269, 288, 291, 298, 299, 303, 305, 827, 316, 832, 833, 836, 327, 329, 330, 337, 339, 354, 872, 873, 380, 894, 896, 903, 904, 395, 909, 413, 420, 933, 424, 938, 427, 429, 943, 949, 951, 953, 956, 447, 969, 970, 972, 465, 994, 484, 488, 489, 492, 502, 508]
26
972

In [28]:
print(list(range(10)))
print("-----------------------")
# 方法一
squared = []
for i in range(10):
  squared.append(i**2)
print(squared)  
print("-----------------------")
# 方法二
squared = [i**2 for i in range(10)]
print(squared)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
-----------------------
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
-----------------------
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
# 方法一
odds_squared = []
for i in range(10):
  if i % 2 == 1:
      odds_squared.append(i**2)
print(odds_squared)    
print("-----------------------")
# 方法二
odds_squared = [i**2 for i in range(10) if i % 2 == 1]
print(odds_squared)

[1, 9, 25, 49, 81]
-----------------------
[1, 9, 25, 49, 81]

In [45]:
random_integers = []
for i in range(100):
    rand_int = random.randint(1, 1000)
    random_integers.append(rand_int)
random_integers = [random.randint(1, 100) for i in range(20)]
print(random_integers)
is_odd_ints = []
for i in random_integers:
    if i % 2 == 1:
        is_odd_ints.append(True)
    else:
        is_odd_ints.append(False)
print(is_odd_ints)
print("--------------------------------------------------------------------------------------------------------------------------------------------")
is_odd_ints = [True if i % 2 == 1 else False for i in random_integers]
print(is_odd_ints)

[55, 56, 27, 85, 56, 45, 36, 49, 17, 67, 15, 72, 3, 56, 40, 79, 26, 68, 66, 11]
[True, False, True, True, False, True, False, True, True, True, True, False, True, False, False, True, False, False, False, True]
--------------------------------------------------------------------------------------------------------------------------------------------
[True, False, True, True, False, True, False, True, True, True, True, False, True, False, False, True, False, False, False, True]

In [46]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for i, wd in enumerate(weekdays):
    print("{}:星期{}".format(wd, i+1))

Monday:星期1
Tuesday:星期2
Wednesday:星期3
Thursday:星期4
Friday:星期5

In [58]:
avengers = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
for idx, movie in enumerate(avengers):
    print("第 {} 部上映的復仇者聯盟是:{}".format(idx+1, movie))
print("-----------------------")
years = [2012, 2015, 2018, 2019]
for year, movie in zip(years, avengers):
    print("{}上映的年份是{}".format(movie, year))

第 1 部上映的復仇者聯盟是:The Avengers
第 2 部上映的復仇者聯盟是:Avengers: Age of Ultron
第 3 部上映的復仇者聯盟是:Avengers: Infinity War
第 4 部上映的復仇者聯盟是:Avengers: Endgame
-----------------------
The Avengers上映的年份是2012
Avengers: Age of Ultron上映的年份是2015
Avengers: Infinity War上映的年份是2018
Avengers: Endgame上映的年份是2019

In [67]:
import pandas as pd

covid19_ts = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
covid19_ts_tw = covid19_ts[covid19_ts['Country/Region'] == 'Taiwan*']
cumulative_confirmed_tw = list(covid19_ts_tw.loc[:,'1/22/20':'5/21/20'].values.ravel())
dates = list(covid19_ts_tw.loc[:, '1/22/20':'5/21/20'].columns)
print(dates)
print(len(dates))
print("-----------------------")
print(cumulative_confirmed_tw)
print(len(cumulative_confirmed_tw))
print("-----------------------")
# 在這 121 天中，那些"日期"是 0 新增確診?
cumulative_confirmed_tw_lag = []
for i in range(1, len(cumulative_confirmed_tw)):
    cumulative_confirmed_tw_lag.append(cumulative_confirmed_tw[i])
print(cumulative_confirmed_tw_lag)
print(len(cumulative_confirmed_tw_lag))
print("-----------------------")

['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20', '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20', '4/21/20', '4/22/20', '4/23/20', '4/24/20', '4/25/20', '4/26/20', '4/27/20', '4/28/20', '4/29/20', '4/30/20', '5/1/20', '5/2/20', '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20', '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20', '5/17/20', '5/18/20', '5/19/20', '5/20/20', '5/21/20']
121
-----------------------
[1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440]
121
-----------------------
[1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440]
120
-----------------------